{% extends "base.jinja" %}
{% block title %}About{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<!-- Banner section -->
<section style="padding: 100px 20px;"> 
    <h1>About Komodo Hub</h1>
    <p>
    Komodo Hub is a website deisgned to assist and educate people worldwide about conservation, with a focus on Indonesia. We aim to inform people on how to better
     protect wildlife and their habitats.
    </p>
    <p>
    Badan Pusat Statistik, the Indonesian Bureau of Statistics, has recently published data on the country’s endangered endemic species. Despite spending millions
    of dollars on conservation efforts, the government might have not seen any significant breakthroughs in the population of some species. The success of Komodo
    has been largely exclusive, and the world is now left with merely less than 100 Sumatran Tigers, Javan Rhinoceros, Bali Mynas, Javan Eagles, Tarsius, and
    Celebes Crested Macaques, respectively. Habitat loss remains the primary cause of the problems. Other causes include habitat changes, commercial
    over-exploitation, the introduction of harmful non-native species, pollution, and the spread of diseases.
    </p>
    <p>
    In 2022 the Komodo Foundation, a not-for-profit organization, was given a substantial amount of funds to initiate the development of a revolutionary digital
    platform for animal conservation in Indonesia. Komodo Hub.
    </p>
    </div>
</section>
{% endblock %}