{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<!-- Banner section -->
<section id="hero" style="padding: 100px 20px; text-align: center;"> 
    <h1>We are not currently accepting donations as this is not a real website!</h1>
    </div>
</section>
{% endblock %}