{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
{% from 'featured_species.jinja' import featured_species_section%}
<!-- Banner section -->
<section id="hero" style="padding: 0px 20px 0px 20px; text-align: center;">
    <img src="/images/image.png" class="komodo_crop half-width" alt="I stole this photo from the internet">
    <h1>Protecting Indonesia's Endangered Species Together</h1>
    <p>Komodo Hub is dedicated to safeguarding the incredible biodiversity of Indonesia. Join us in our mission to
        conserve and protect these precious creatures for future generations.</p>
    <!-- Main buttons -->
    <div class="homepage-buttons">
        {{ button(url='/donation', button_text='Donate Now', extra_classes='homepage-btn') }}
        {{ button(url='/species', button_text='Explore Species', extra_classes='homepage-btn') }}
        {{ button(url='/register', button_text='Join the Movement', extra_classes='homepage-btn') }}
    </div>
</section>
<!-- About section -->
<section id="about" style="padding: 50px 20px; text-align: center;">
    <h2>What is Komodo Hub?</h2>
    <p style="max-width: 800px; margin: 1rem auto;">Komodo Hub is a digital platform designed to support conservation
        and
        species protection efforts across Indonesia. We connect passionate individuals, educators, and organizations to
        make a tangible difference.
    </p>
    {{ button(url='/about', button_text='Read More', extra_classes='homepage-btn') }}
</section>
<!-- Featured Species -->
{# If you want to change the featured species please do so in config.ini - CS #}
{{featured_species_section(featured_species, True)}}
<!-- Schools & communities section -->
<section id="schools-communities" style="padding: 10px 20px; text-align: center; background-color: #094d21;"
    class="container-full">
    <h2>Schools & Communities</h2>
    <p style="max-width: 800px; margin: 0 auto;">
        Schools and communities play a vital role in conservation. Discover how
        your group can get involved through educational programs, fundraising, and awareness campaigns.
    </p>
    <div class="homepage-buttons">
        {{ button(url='/register-school', button_text='Register Your School', extra_classes='homepage-btn') }}
        <!-- need to assign bg colour -->
        {{ button(url='/register-community', button_text='Join as a Community', extra_classes='homepage-btn') }}
    </div>
</section>
{% endblock %}