{% extends "base.jinja" %}
{% block title %}{{ english_name }} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<!-- Banner section -->
<section id="hero" style="padding: 100px 20px; text-align: center;"> 
    <h1>{{ english_name }}</h1>
    <h2><em>{{ latin_name }}</em></h2>
    <img src="/images/species_database/{{ english_name }}.jpg" class="quarter-height">

    <p>{{ main_text }}</p>
</section>
{% endblock %}