{% extends "base.jinja" %}
{% block title %}{{ english_name }} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<!-- Banner section -->
<section id="hero" style="padding: 10px 20px; text-align: center;" class="container">
    <h1>{{ english_name }}</h1>
    <h2><em>{{ latin_name }}</em></h2>
    <p>Category: {{category}}</p>
    <img src="/images/species_database/{{ photoid }}.jpg" class="species-photo" style="max-width: 100%; height: auto; border-radius: inherit;">
    <p>{{ main_text }}</p>
    <p>This species is currently classed as: {{extinction_risk}}</p>
    {% if extinction_risk == "Not Evaluated" %}
        <img src="/images/extinction_risk/notevaluated.png" class="extinction-icon">
    {% elif extinction_risk == "Least Concern" %}
        <img src="/images/extinction_risk/leastconcern.png" class="extinction-icon">
    {% elif extinction_risk == "Near Threatened" %}
        <img src="/images/extinction_risk/nearthreatened.png" class="extinction-icon">
    {% elif extinction_risk == "Vulnerable" %}
        <img src="/images/extinction_risk/vulnerable.png" class="extinction-icon">
    {% elif extinction_risk == "Endangered" %}
        <img src="/images/extinction_risk/endangered.png" class="extinction-icon">
    {% elif extinction_risk == "Critically Endangered" %}
        <img src="/images/extinction_risk/criticallyendangered.png" class="extinction-icon">
    {% elif extinction_risk == "Extinct in Wild" %}
        <img src="/images/extinction_risk/extinctinwild.png" class="extinction-icon">
    {% elif extinction_risk == "Extinct" %}
        <img src="/images/extinction_risk/extinct.png" class="extinction-icon">
    {% else %}
        <p></p>
    {% endif %}
</section>
<section id="hero" style="padding: 1px; text-align: center;" class="container">
{# this button should only be visible to certain account types #}
<a href="/species/editor/{{species_id}}">Edit Species</a>
</section>
{% endblock %}