{# needs to redirect if user logged in #}
{% extends "base.jinja" %}
{% block title %} Log In {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<section id="hero" class="form">
    <form action="{{ url_for('login.login') }}" class="container" method="POST">
        {% if error %}
        <p class="form-error">{{ error }}</p>
        {% endif %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit" class="submit-button">
            Login
        </button>
    </form>
</section>
{% endblock %}