{% extends "base.jinja" %}
{% block title %} Species Upload Portal {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<section id="hero" style="padding: 50px 20px; text-align: center;"> 
    <form action="/action_page.php" class="half-width" style="outline-style: double;">
    <label for="eng_name" style="padding: 50px;">English name:</label><br>
    <input type="text" id="eng_name" name="eng_name" value=""><br>
    <label for="latin_name">Latin name:</label><br>
    <input type="text" id="latin_name" name="latin_name" value=""><br>
    <label for="main_text">Species information:</label><br>
    <input type="text" id="main_text" name="main_text" value=""><br>
    <label for="species_image">Species image:</label><br>
    <input type="file" id="species_image" name="species_image" accept="image/*"><br>
    <input type="submit">
    </form>
</section>
{% endblock %}