{% extends "base.jinja" %}
{% block title %} Species Upload Portal {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<section id="hero" class="form">
    <form action="{{ url_for('species_portal.add_species_to_database') }}" class="container" method="POST"
        enctype="multipart/form-data">
        <div class="form-group">
            <label for="eng_name">English Name:</label>
            <input type="text" id="eng_name" name="eng_name" required>
        </div>
        <div class="form-group">
            <label for="latin_name">Latin Name:</label>
            <input type="text" id="latin_name" name="latin_name" required>
        </div>
        <div class="form-group">
            <label for="main_text">Species Information:</label>
            <textarea id="main_text" name="main_text" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="species_image">Species Image:</label>
            <input type="file" id="species_image" name="species_image" accept="image/*">
        </div>
        <button type="submit" class="submit-button">
            Add Species
        </button>

    </form>
</section>
{% endblock %}