{% extends "base.jinja" %}
{% block title %}Species Database{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
{% from 'featured_species.jinja' import featured_species_section%}
<section class="title">
Species Database
</section>
{# All Species #}
<div>
    <form action="/species/search" method="GET" class="search">
        <input type="text" name="search-query" placeholder="Search all species..." value="{{query}}" class="bar">
        <input type="submit" value="Search" class="button">
    </form>
</div>
<h2 style="text-align: center; margin-top: 30px;">All Species</h2>
<section class="species-grid">
    {% for sp in results %}
    <a href="/species/{{ sp['species_english'] }}" class="container-lite">
        <h3 class="plain-white-text">{{ sp['species_english'] }}</h3>
        <div 
        style="background-image: url('{{ url_for('static', filename='images/species_database/' ~ sp['species_english'] ~ '.jpg') }}');" class="div-image">
        </div>
        <p style="color: var(--text)">
        Main category: {{ sp['category'] }}
        </p>
    </a>

    {% endfor %}
</section>
{% endblock %}