{% extends "base.jinja" %}
{% block title %}Species Database{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
{% from 'display_items.jinja' import display_all_items %}
{% from 'search_bar.jinja' import search_bar%}
<section class="title">
Species Database
</section>
{# All Species #}
{{search_bar("/species/search", query)}}   
{{display_all_items(results)}}
{% endblock %}