{% extends "base.jinja" %}
{% block title %}Species Database{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
{% from 'featured_species.jinja' import featured_species_section %}
{% from 'display_items.jinja' import display_all_items %}
{% from 'search_bar.jinja' import search_bar%}
<section class="title">
Species Database
</section>
{# Featured Species #}
{# If you want to change the featured species please do so in config.ini - CS #}
{{featured_species_section(featured_species, False)}}
{# All Species #}
<div>
    {{search_bar("/species/search")}}
</div>
<h2 style="text-align: center; margin-top: 30px;">All Species</h2>
{{display_all_items(species)}}
{% endblock %}