<html>
    <head>
        <title>{% block title %}Untitled{% endblock %} - Komodo Hub</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/styles.css" type="text/css"></head>
        {% block head %}{% endblock %}
    <body>
        {% include 'navbar.jinja' %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>