{% extends "base.jinja" %}
{% block title %}Error{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<!-- Banner section -->
<section id="hero" class="container"> 
    <h1>Our apologies for the inconvenience but the website has run into an error, most likely you tried to view a page that doesn't exist or you do not have access to. If you run into this error when you shouldn't, please contact one of the site admins.</h1>
    <p>Additional information: <em>{{ extra_information }}</em></p>
    </div>
</section>
{% endblock %}