{% extends "base.jinja" %}
{% block title %}Error{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% from 'button.jinja' import button %}
<section id="hero" class="container-full" style="--custom-width: 61.8%;"> 
    <h1>The website has run into an error, did you try to view a page that doesn't exist? Or one you don't have access to?</h1>
    <h1>If you run into this error when you shouldn't, please contact one of the site admins.</h1>
    <p>Additional information: <em>{{ extra_information }}</em></p>
    </div>
</section>
{% endblock %}