{% from "button.jinja" import button %}
<div class="navbar">
    <div class="left">
        <a href="/" class="left">
        <img src="/images/lizard.png" class="logo-img">
        <span class="logo-text">Komodo Hub</span>
        </a>
    </div>
    
    <div class="links">
        {# todo #}
        <div class="dropdown">
            <button class="dropbtn">Devtools ▾</button>
            <div class="dropdown-content">
                <a href="/species/portal">Add Species</a>
                <a href="/species">View Species</a>
                <a href="/species_search">Search Species</a>
                <a href="/login">Login page</a>
            </div>
        </div>
        {# todo #}
        {% if user %}
        {% if user[4] %}
        <a href="/admin">Admin</a>
        {% endif %}
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
        {% else %}
        {{ button(url='/login', button_text='Login/Register', extra_classes='') }}
        {% endif %}
    </div>
</div>